body{
    background-color: bisque;
}
nav{
    font-family: 'Courier New', Courier, monospace;
}
#Copyright{
    width: 100%;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}